<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AnswerMapper">
	<select id="findAll" resultType="com.example.demo.model.Answer">
		SELECT * FROM correct_answers;
	</select>
	<select id="findByQuestionId" resultType="com.example.demo.model.Answer">
		SELECT * FROM correct_answers WHERE questions_id = #{questionId};
	</select>
	<insert id="register">
		INSERT INTO correct_answers (questions_id, answer, created_at) values(#{questionId}, #{answer}, CURRENT_TIMESTAMP());
	</insert>
	<delete id="deleteByQuestionId">
		DELETE FROM correct_answers WHERE questions_id = #{questionId};
	</delete>
	<update id="update">
		UPDATE correct_answers SET answer = #{answer} WHERE id = #{answerId};
	</update>
	<delete id="deleteById">
		DELETE FROM correct_answers WHERE id = #{answerId};
	</delete>
	<select id="findByAnswer" resultType="com.example.demo.model.Answer">
		SELECT * FROM correct_answers WHERE answer = #{answer};
	</select>
</mapper>
