<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Confirm</title>
		<link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
	</head>
	<body>
		<div class="btn_area">
			<button onclick="location.href='../top'">top</button>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="logout" class="logout_btn">
			</form>
		</div>
		<!-- formタグで入力されたデータを./register/completeにpostで送信  -->
		<form th:action="@{/register/complete}" method="post">
			<!-- エラーメッセージがある場合  -->
			<th:block th:if="${!errorMessage.isEmpty()}">
				<p class="error" th:utext="${errorMessage}"></p>
			</th:block>
			<div class="question_area">
				<label>問題:</label>
				<p th:text="${question}" %></p>
				<!-- 隠し入力欄に、問題文を設定  -->
				<input type="hidden" id="question" name="question" th:value="${question}">
			</div>
			<div class="answers_area">
				<label>答え:</label>
				<div class="answers">
					<!-- 答えの数だけ繰り返す  -->
					<th:block th:each="answer : ${answers}">
					<p th:text="${answer}"></p>
					<!-- 隠し入力欄に、答えを設定  -->
					<input type="hidden" id="answer" name="answer" th:value="${answer}">
					</th:block>
				</div>
			</div>
			<div class="bottom_btn_area">
				<!-- エラーメッセージがない場合  -->
				<th:block th:if="${errorMessage.isEmpty()}">
					<input type="submit" value="登録">
				</th:block>
			</div>
		</form>
		<!-- formタグで入力されたデータを/registerにpostで送信する  -->
		<form th:action="@{/register}" method="post">
			<!-- 隠し入力欄に、問題文を設定  -->
			<input type="hidden" id="question" name="question" th:value="${question}">
			<!-- 答えがない場合  -->
			<th:block th:if="${answers.length == 0}">
				<!-- 隠し入力欄から空のanswerパラメーターを送信  -->
				<input type="hidden" id="answer" name="answer">
			</th:block>
			<!-- 答えがある場合  -->
			<th:block th:if="${answers.length != 0}">
				<!-- 答えの数だけ繰り返す  -->
				<th:block th:each="answer : ${answers}">
					<!-- 隠し入力欄に、答えを設定  -->
					<input type="hidden" id="answer" name="answer" th:value="${answer}">
				</th:block>
			</th:block>
			<div class="bottom_btn_area">
				<input type="submit" value="戻る">
			</div>
		</form>
	</body>
</html>
