<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>List</title>
<link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
</head>
	<body>
		<div class="btn_area">
			<button onclick="location.href='./top'">top</button>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="logout" class="logout_btn">
			</form>
		</div>
		<button class="new_btn" onclick="location.href='./register'" >新規登録</button>
		<!-- 問題の数だけ処理を繰り返す  -->
		<div class="list_area" th:each="que, queStatus:${queList}">
			<div class="list">
				<div class="list_question_area">
					<label th:text="'問題:' + ${que.getId()} + ' '"></label>
					<p th:text="${que.getQuestion()}" ></p>
				</div>
				<!-- 問題に紐づく答えの数だけ処理を繰り返す  -->
				<div class="list_answers_area" th:each="ans, ansStatus:${ansList.get(queStatus.index)}">
					<p th:text="'答え' + ${ansStatus.count} + ' ' + ${ans.getAnswer()}"></p>
					</div>
				</div>
			<div>
				<a th:href="@{/edit/{id}(id=${que.getId()})}"><button>編集</button></a>
				<a th:href="@{/delete_confirm/{id}(id=${que.getId()})}"><button>削除</button></a>
			</div>
		</div>
	</body>
</html>
