<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
		<link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
	</head>
	<body>
	 	<!-- formタグで入力されたデータを./Loginにpostで送信する  -->
		 <form th:action="@{/login}" method="post">
			<div class="form">
				<label for="userId">ID:</label>
				<input type="text" id="userId" name="userId">
			</div>
			<div class="form">
				<label for="password">pw:</label>
				<input type="password" id="password" name="password">
			</div>
			<div class="form">
				<!-- フォームデータを送信するボタン -->
				<input type="submit" value="login" class="login_btn">
			 </div>
		</form>
	</body>
</html>
