<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Register</title>
		<link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
		<!-- jsファイルで使う変数を宣言し、初期値を設定   -->
		<script th:inline="javascript">
			var i = /*[[${answers.length}]]*/1;
		</script>
		<script type="text/javascript" th:src="@{/js/add_answer_form.js}"></script>
		<script type="text/javascript" th:src="@{/js/delete_answer_form.js}"></script>
	</head>
	
	<body>
		<div class="btn_area">
			<button onclick="location.href='./top'">top</button>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="logout">
			</form>
		</div>
		<!-- formタグで入力されたデータを/register/confirmにpostで送信する  -->
		<form th:action="@{/register/confirm}" method="post">
			<div class="question_form_area">
				<label for="question">問題:</label>
				<!-- 以前入力した問題のデータがない場合（戻るボタンを押す前のデータ）-->
				<th:block th:if="${question.isEmpty()}">
					<textarea id="question" name="question"></textarea>
				</th:block>
				<!-- 問題のデータがある場合-->
				<th:block th:if="${!question.isEmpty()}">
					<textarea id="question" name="question">[[${question}]]</textarea>
				</th:block>
			</div>
			<div class="answer_forms_area">
				<label for="answer">答え:</label>
				<div class="answer_forms">
					<!-- 以前入力した答えのデータがない場合（戻るボタンを押す前のデータ）-->
					<th:block th:if="${answers.length == 0}">
						<div class="answer_form" id="answerform1">
							<input type="text" id="answer" name="answer">
						</div>
					</th:block>
					<!-- 答えのデータがある場合-->
					<th:block th:if="${answers.length != 0}">
						<!-- 答えの数だけ処理を繰り返す  -->
						<th:block th:each="answer, ansStatus: ${answers}">
							<div class="answer_form" th:id="'answer_form' + ${ansStatus.count}">
								<input type="text" id="answer" name="answer" th:value="${answer}">
								<!-- 1つ目の答え以外の場合  -->
								<th:block th:if="${ansStatus.index != 0}">
									<button type="button" th:onclick="|deleteForm(answer_form__${ansStatus.count}__)|">削除</button>
								</th:block>
							</div>
						</th:block>
					</th:block>
				</div>
			</div>
			<div class="bottom_btn_area">
				<button type="button" onclick="location.href='../list'">戻る</button>
				<input type="submit" value="確認">
				<button type="button" onclick="addForm()">追加</button>
			</div>
		</form>
	</body>
</html>
