<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Test</title>
		<link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
	</head>
	<body>
		<div class="btn_area">
			<button onclick="location.href='./top'">top</button>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="logout" class="logout_btn">
			</form>
		</div>
		<!-- 問題が登録されていない場合  -->
		<th:block th:if="${queList.isEmpty()}">
			<p>問題が登録されていません</p>
		</th:block>
		<!-- 問題が登録されている場合  -->
		<th:block th:if="${!(queList.isEmpty())}">
			<!-- formタグで入力されたデータを./test/resultにpostで送信する  -->
			<form th:action ="@{/test/result}" method="post">
			<!-- 問題の数だけ処理を繰り返す  -->
				<th:block th:each="que, queStatus: ${queList}">
					<div class="test_question_area">
						<label th:text="${queStatus.count}"></label>
						<p th:text="${que.getQuestion()}"></p>
						<!-- 隠し入力欄に、問題idを設定  -->
						<input type="hidden" id="questionId" name="questionId" th:value="${que.getId()}">
					</div>
					<div class="test_answers_area">
						<label for="answer">回答</label>
						<div class="test_answer_form">
							<input type="text" id="answer" name="answer">
						</div>
					</div>
				</th:block>
				<div class="bottom_btn_area">
					<input type="submit" value="採点">
				</div>
			</form>
		</th:block>
	</body>
</html>
