<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>user_register_confirm</title>
<link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
</head>
	<body>
		<div class="btn_area">
			<button onclick="location.href='/top'">top</button>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="logout" class="logout_btn">
			</form>
		</div>
		<!-- formタグで入力されたデータを/user/register/completeにpostで送信する  -->
		<form class="user_form_area" th:action="@{/user/register/complete}" method="post">
			<div class="user_form">
				<label>ユーザー名: </label>
				<p th:text="${userName}"></p>
				<input type="hidden" id="userName" name="userName" th:value="${userName}">
			</div>
			<div class="user_form">
				<label>PW: </label>
				<p>********</p>
				<input type="hidden" id="password" name="password" th:value="${password}">
			</div>
			<div class="user_form">
				<label>PW確認: </label>
				<p>********</p>
			</div>
			<div class="user_form">
				<label>管理者権限: </label>
				<!-- 管理者の場合 -->
				<th:block th:if="${adminFlag == 1}">
					<p>あり</p>
				</th:block>
				<!-- 管理者ではない場合 -->
				<th:block th:if="${adminFlag == 0}">
					<p>なし</p>
				</th:block>
				<input type="hidden" id="adminFlag" name="adminFlag" th:value="${adminFlag}">
			</div>
			<div class="bottom_btn_area">
				<input type="submit" value="登録">
			</div>
		</form>
		<!-- formタグで以下のデータを/user/registerにpostで送信する  -->
		<form th:action="@{/user/register}" method="post">
			<input type="hidden" id="userName" name="userName" th:value="${userName}">
			<input type="hidden" id="password" name="password" th:value="${password}">
			<input type="hidden" id="adminFlag" name="adminFlag" th:value="${adminFlag}">
			<div class="bottom_btn_area">
				<input type="submit" value="戻る">
			</div>
		</form>
	</body>
</html>