<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>user_lists</title>
<link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
</head>
	<body>
		<div class="btn_area">
			<button onclick="location.href='../top'">top</button>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="logout" class="logout_btn">
			</form>
		</div>
		<button class="new_btn" onclick="location.href='./register'" >新規登録</button>
		<table>
			<tr>
				<th>ID</th>
				<th>権限</th>
				<th>ユーザー名</th>
			</tr>
			<!-- 問題の数だけ処理を繰り返す  -->
			<th:block th:each="user : ${userList}">
				<tr>
					<td th:text="${user.getId()}" ></td>
					<td th:text="${user.getAdmin_flag()}" ></td>
					<td th:text="${user.getName()}" ></td>
					<td>
						<a th:href="@{/user/{id}(id=${user.getId()})}"><button>編集</button></a>
						<a th:href="@{/user/{id}(id=${user.getId()})}"><button>削除</button></a>
					</td>
				</tr>
			</th:block>
		</table>
	</body>
</html>