<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>user_register</title>
<link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
<script type="text/javascript" th:src="@{/js/check_user_validation.js}"></script>
</head>
	<body>
		<div class="btn_area">
			<button onclick="location.href='/top'">top</button>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="logout" class="logout_btn">
			</form>
		</div>
		<!-- formタグで入力されたデータを/user/register/confirmにpostで送信する（送信する前にjsでバリデーションチェックする）  -->
		<form class="user_form_area" th:action="@{/user/register/confirm}" method="post" onsubmit="return checkValidation()">
			<div  class="user_form">
				<label>ユーザー名: </label>
				<input type="text" id="userName" name="userName" th:value="${userName}">
			</div>
			<div  class="user_form">
				<label>PW: </label>
				<input type="password" id="password" name="password" th:value="${password}">
			</div>
			<div  class="user_form">
				<label>PW確認: </label>
				<input type="password" id="passwordConfirm" name="passwordConfirm" th:value="${password}">
			</div>
			<div  class="user_form">
				<label>管理者権限: </label>
				<!-- 管理者の場合、チェックボックスにチェックを入れる -->
				<th:block th:if="${adminFlag == 1}">
					<input type="checkbox" id="adminFlag" name="adminFlag" value="1" checked>
				</th:block>
				<!-- 管理者ではない場合、チェックボックスにチェックを入れない -->
				<th:block th:if="${adminFlag == 0}">
					<input type="checkbox" id="adminFlag" name="adminFlag" value="1">
				</th:block>
				<!-- チェックボックスにチェックが入っていない場合、以下のデータを送信-->
				<input type='hidden' name="adminFlag" value='0'>
			</div>
			<div class="user_form_info">
				<li>ユーザー名は半角英数字で入力してください</li>
				<li>PWは半角英数字で8文字以上で入力してください</li>
			</div>
		</div>
		<div class="bottom_btn_area">
			<button type="button" onclick="history.back()">戻る</button>
			<input type="submit" value="確認">
		</div>
	</body>
</html>