<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>user_edit</title>
<link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
<script type="text/javascript" th:src="@{/js/check_user_validation.js}"></script>
</head>
	<body>
		<div class="btn_area">
			<button onclick="location.href='/top'">top</button>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="logout" class="logout_btn">
			</form>
		</div>
		<!-- formタグで入力されたデータを/user/edit/confirmにpostで送信する  -->
		<form class="user_form_area" th:action="@{/user/edit/{id}/confirm(id=${user.getId()})}" method="post" onsubmit="return checkValidation()">
			<div  class="user_form">
				<label>ID: </label>
				<p th:text="${user.getId()}"></p>
			</div>
			<div  class="user_form">
				<label>ユーザー名: </label>
				<p th:text="${user.getName()}"></p>
				<input type="hidden" id="userName" name="userName" th:value="${user.getName()}">
			</div>
			<div  class="user_form">
				<label>PW: </label>
				<input type="password" id="password" name="password" th:value="${user.getPassword()}">
			</div>
			<div  class="user_form">
				<label>PW確認: </label>
				<input type="password" id="passwordConfirm" name="passwordConfirm" th:value="${user.getPassword()}">
			</div>
			<div  class="user_form">
				<label>管理者権限: </label>
				<th:block th:if="${user.getAdmin_flag() == 1}">
					<input type="checkbox" id="adminFlag" name="adminFlag" value="1" checked>
				</th:block>
				<th:block th:if="${user.getAdmin_flag() != 1}">
					<input type="checkbox" id="adminFlag" name="adminFlag" value="1">
				</th:block>
				<input type='hidden' name="adminFlag" value='0'>
			</div>
		</div>
		<div class="bottom_btn_area">
			<button type="button" onclick="history.back()">戻る</button>
			<input type="submit" value="確認">
		</div>
	</body>
</html>