<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>user_lists</title>
<link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
</head>
	<body>
		<div class="btn_area">
			<button onclick="location.href='/top'">top</button>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="logout" class="logout_btn">
			</form>
		</div>
		<form th:action="@{/user/register/complete}" method="post">
			<div>
				<label>ユーザー名: </label>
				<p th:text="${userName}"></p>
				<input type="hidden" id="userName" name="userName" th:value="${userName}">
			</div>
			<div>
				<label>PW: </label>
				<p>********</p>
				<input type="hidden" id="password" name="password" th:value="${password}">
			</div>
			<div>
				<label>PW確認: </label>
				<p>********</p>
			</div>
			<div>
				<label>管理者権限: </label>
				<p th:text="${userAuth}"></p>
				<input type="hidden" id="userAuth" name="userAuth" th:value="${userAuth}">
			</div>
		</div>
		<div class="bottom_btn_area">
			<button type="button" onclick="history.back()">戻る</button>
			<input type="submit" value="登録">
		</div>
	</body>
</html>