<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>user_edit_confirm</title>
<link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
</head>
	<body>
		<div class="btn_area">
			<button onclick="location.href='/top'">top</button>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="logout" class="logout_btn">
			</form>
		</div>
		<!-- formタグで/user/delete/{id}/completeにpostで送信する  -->
		<form class="user_form_area" th:action="@{/user/delete/{id}/complete(id=${userId})}" method="post">
			<div  class="user_form">
				<label>ID: </label>
				<p th:text="${userId}"></p>
			</div>
			<div class="user_form">
				<label>ユーザー名: </label>
				<p th:text="${userName}"></p>
			</div>
			<div class="user_form">
				<label>管理者権限: </label>
				<!-- 管理者の場合 -->
				<th:block th:if="${adminFlag == 1}">
					<p>あり</p>
				</th:block>
				<!-- 管理者ではない場合 -->
				<th:block th:if="${adminFlag == 0}">
					<p>なし</p>
				</th:block>
			</div>
			<div class="bottom_btn_area">
				<button type="button" onclick="history.back()">戻る</button>
				<input type="submit" value="削除">
			</div>
		</form>
	</body>
</html>