<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.HistoryMapper">
	<select id="findByUserId" resultType="com.example.demo.model.History">
		SELECT * FROM histories WHERE user_id = #{userId};
	</select>
	<insert id="register">
		INSERT INTO histories (user_id, point, created_at) VALUES (#{userId}, #{point}, CURRENT_TIMESTAMP());
	</insert>
</mapper>
